@charset "utf-8";

body {
    background-color: rgb(205, 224, 235);
}
.top{
    font-size: 60px;
    text-align: center;
}
#nav li{
    display: inline;
    list-style-type: none;
    padding-right: 30px;
    font-size: 30px;
}